.home-list {
    background-color: #F5F5F5;
}
.home-list .panel {
    border-width: 0px;
    padding: 10px 20px;
}
.home-list .head {
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 10px #DDDDDD;
    padding: 30px 20px;
    background-color: #404040;
    color: White;
}
.home-list .head h2 {
    font-weight: bold;
}
.home-list .list {
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 5px 5px #DDDDDD;
    padding: 10px 20px;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.home-list .list h4 a {
    color: Black;
    font-weight: bold;
}
.home-list .list h4 a:hover {
    color: Crimson;
    text-decoration: none;
}
.home-list .list span {
    color: Darkgrey;
}
.home-list .list hr {
    border-color: Darkgrey;
}

.in-page {
    background-color: #F5F5F5;
}
.in-page .page {
    margin-top: 20px;
    border-width: 0px;
    box-shadow: 0px 0px 10px 10px #DDDDDD;
}
.in-page .nav0 {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-width: 0px;
}
.in-page .nav0 a {
    padding: 0px;
}
.in-page .nav0 li {
    padding: 2px 10px;
}
.in-page .nav0 .active>a {
    color: Crimson;
    font-weight: bold;
}
.in-page .nav0 .nav-static {
    color: DarkGrey;
}
.in-page a.anchor {
    color: Black;
}
