h3 {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h3 a {
    text-decoration: none
}

.container {
    max-width: 1000px;
}
.head,.list {
    padding: 1px 10px;
}
ul.list li {
    list-style-type: none;
    font-size: 18px;
}
ul.list span {
    color: grey;
    font-size: 12px;
}
